{% load staticfiles %}
{% block head %}

<link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet"/>
<link href="{% static "css/seeImages.css" %}" rel="stylesheet"/>

{% endblock %}

{% block content %}
<div class="container">
	<h1> All Patient Images </h1>

	<div class="row jumbotron pictures_display">
		{% for p in patients %}
		<h3> {{ p.name }} </h3>
			<div class="images" patient-email="{{ p.email }}">
				{% for s in sessions|get_item:p.email %}
					<figure>
						{% for i in images|get_item:s.id %}
							<img src="{{ i.image_file.url }}" />
						{% endfor %}
						<figcaption> Date Taken: {{ s.dateTaken }}       Date Submitted: {{ s.dateSubmission}}   Description: {{ s.details }} </figcaption>
					</figure>
				{% endfor %}
			</div>
			<hr>
		{% endfor %}
	</div>
</div>


{% endblock %}